body{
    margin: 0;
}
.container{
    height: 100dvh;
    color: white;
    display: flex;
}
.first,.second{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}
#first{
    background-color: rgb(223, 152, 12);
}
#second{
    background-color: rgb(12, 16, 223);
}
